.wrap {
  width: 100%;
  .inner {
    .text_box {
      display: flex;
      justify-content: space-between;
    }
    .img_box {
      padding-top: 50px;
      position: relative;
      img {
        width: 700px;
        height: 600px;
        
      }
      .color_box {
        position: absolute;
        bottom: -50px;
        left: 500px;
        width: 330px;
        height: 250px;
        background-color:#887469;
        padding: 40px;
        color: #fff;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
        transition: .5s;
        &:hover {
          transform: translateX(-20px);
        }
        h3 {
          font-size: 30px;
          font-weight: normal;
          span {
            font-family: 'CHOGOONCHICKENSCRATCHV5';
          }
        }
        a {
          display: block;
          padding-top: 50px;
          line-height: 1.7;
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width:767px) {
  .wrap {
    .inner {
      padding: 0 40px;
      .text_box {
        
      }
      .img_box {
        position: relative;
        img {
          max-width: 400px;
          height: 350px;
        }
        .color_box {
          position: absolute;
          bottom: -100px;
          left: 100px;
          max-width: 200px;
          height: 200px;
          &:hover {
            transform: translateX(0);
          }
          h3 {
            font-size: 20px;
            span {
              
            }
          }
          a {

          }
        }
      }
    }
  }
}