.wrap4 {
  background-color: #fffcf8;
  padding-bottom: 100px;
  margin-top: 50px;
  .inner {
    .text_box {
      padding-top: 50px;
      padding-bottom: 100px;
      display: flex;
      justify-content: space-between;
    }
    .hover {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .hover_box {
        width: 200px;
        height: 250px;
        margin-top: 30px;
        background-color: #887469;
        position: relative;
        transition: .5s;
        cursor: pointer;
        &:hover {
          transform: translateY(-20px);
        }
      }
      .hover_img {
        position: absolute;
        top: 5%;
        left: 10%;
        z-index: 3;
        width: 160px;
        height: 180px;
        background-color: #fff;
        img {
          width: 160px;
          height: 180px;
        }
      }
      .hover_text {
        background-color: #887469;
        position: absolute;
        bottom: 5px;
        left: 18px;
        line-height: 1.5;
        color: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 180px;
        h4 {
          font-weight: normal;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width:767px) {
  .wrap4 {

    .inner {
      padding: 0 40px;
      .text_box {
 
      }
      .hover {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        .hover_box {
          max-width: 50%;
          &:hover {
            transform: translateY(0);
            opacity: .9;
          }
        }
        .hover_img {
          img {
          }
        }
        .hover_text {

          h4 {

          }
          p {

          }
        }
      }
    }
  }
}