.wrap10 {
  .inner {
    .text_box {
      padding-bottom: 50px;
      display: flex;
      align-items: center;
      h2 {
        &::after {
          content: '>';
          font-weight: normal;
        }
      }
      .new {
        display: block;
        font-size: 16px;
        text-decoration: underline;
        text-underline-offset: 8px;
        text-decoration-color: #887469;
        text-decoration-thickness: 3px;
      }
    }
  }
  .new_img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .hover {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-between;
    .hover_box {
      width: 200px;
      height: 250px;
      margin-top: 30px;
      background-color: #887469;
      position: relative;
      cursor: pointer;
    }
    .hover_img {
      position: absolute;
      top: 5%;
      left: 10%;
      z-index: 3;
      width: 80%;
      height: 180px;
      background-color: #fff;
      img {
        width: 160px;
        height: 180px;
      }
    }
    .hover_text {
      background-color: #887469;
      position: absolute;
      bottom: 5px;
      left: 18px;
      line-height: 1.5;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 160px;
      h4 {
        font-weight: normal;
      }
      p {
        font-size: 18px;
      }
    }
    .btn {
      display: flex;
      width: 200px;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: -50px;
      left: 0;
      .cart {
        width: 50%;
        padding: 10px;
        color: #887469;
        font-weight: bold;
        font-size: 16px;
        background-color: #fff;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #887469;
      }
    }
  }
}